@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-lexend-deca);
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
html {
  scroll-behavior: smooth;
}
body {
  background: url('/bg.png');
  background-repeat: no-repeat;
  background-size: 101% 101vh;
  background-attachment: fixed;
  background-position: left top;
}
input {
  @apply text-slate-300;
}
p {
  @apply text-slate-400 glow text-justify;
}
.cont {
  @apply w-full sm:w-10/12 mx-auto p-5 sm:p-5 max-w-[1250px];
}
.glow {
  @apply drop-shadow-[0_0px_50px_rgba(255,255,255,1)];
}
.slide-up {
  animation: ease-in-out infinite slide 10s;
}
img {
  object-fit: cover;
}
@keyframes slide {
  0% {
    translate: 0 0%;
    width: 3.25em;
  }
  15% {
    translate: 0 0%;
    width: 3.25em;
  }
  30% {
    translate: 0 -33%;
    width: 3.25em;
  }
  45% {
    translate: 0 -33%;
    width: 3.25em;
  }
  60% {
    translate: 0 -66%;
    width: 5em;
  }
  85% {
    translate: 0 -66%;
    width: 5em;
  }
  100% {
    translate: 0 0%;
    width: 3.25em;
  }
}
b {
  font-weight: 600;
}
.left-in {
  transform: translateX(-150%);
  opacity: 0;
}
.right-in {
  transform: translateX(250%);
  opacity: 0;
}
.aos-item {
  transition-property: transform, opacity;
}
.top-in {
  transform: translateY(-125%);
  opacity: 0;
}
.bottom-in {
  transform: translateY(125%);
  opacity: 0;
}
.zoom-in {
  transform: scale(0.3);
  opacity: 0;
}
.roll-in {
  transform: rotate(-360deg) scale(0);
  opacity: 0;
}
.on {
  transform: none;
  opacity: 1;
}
