@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-lexend-deca);
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: url('/bg.png');
  background-repeat: no-repeat;
  background-size: 101% 101vh;
  background-attachment: fixed;
  background-position: left top;
}

.cont {
  @apply w-full sm:w-10/12 mx-auto;
}

.slide-up {
  animation: ease-in-out infinite slide 10s;
}
@keyframes slide {
  0% {
    translate: 0 0%;
    width: 3.25em;
  }
  15% {
    translate: 0 0%;
    width: 3.25em;
  }
  30% {
    translate: 0 -33%;
    width: 3.25em;
  }
  45% {
    translate: 0 -33%;
    width: 3.25em;
  }
  60% {
    translate: 0 -66%;
    width: 5em;
  }
  85% {
    translate: 0 -66%;
    width: 5em;
  }
  100% {
    translate: 0 0%;
    width: 3.25em;
  }
}
